### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [738]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(50)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
30,30,Bobby Harris,M,9th,Huang High School,94,99,0,District,2917,1910635
31,31,Brian Fernandez,M,10th,Huang High School,97,65,0,District,2917,1910635
32,32,Candace Phelps,F,11th,Huang High School,93,90,0,District,2917,1910635
33,33,Amy Gonzalez,F,12th,Huang High School,95,68,0,District,2917,1910635
34,34,Steven Green,M,11th,Huang High School,65,74,0,District,2917,1910635
35,35,Benjamin Carlson,M,10th,Huang High School,99,61,0,District,2917,1910635
36,36,Kevin Bailey,M,10th,Huang High School,76,76,0,District,2917,1910635
37,37,Jesse Newton,M,10th,Huang High School,63,66,0,District,2917,1910635
38,38,Kimberly Mercado,F,12th,Huang High School,73,77,0,District,2917,1910635
39,39,Gregory Roberts,M,9th,Huang High School,80,61,0,District,2917,1910635
40,40,Matthew Mayer,M,9th,Huang High School,79,69,0,District,2917,1910635
41,41,Jennifer Parks,F,11th,Huang High School,85,95,0,District,2917,1910635
42,42,John Carlson,M,9th,Huang High School,65,89,0,District,2917,1910635
43,43,Megan Roberts,F,9th,Huang High School,66,90,0,District,2917,1910635
44,44,Debra Flores,F,10th,Huang High School,75,66,0,District,2917,1910635
45,45,Heidi Jackson,F,11th,Huang High School,64,93,0,District,2917,1910635
46,46,Denise Bradford,F,12th,Huang High School,73,59,0,District,2917,1910635
47,47,Ellen Brown,F,11th,Huang High School,77,81,0,District,2917,1910635
48,48,Amy Perkins,F,9th,Huang High School,76,66,0,District,2917,1910635
49,49,Natalie Mitchell,F,10th,Huang High School,73,93,0,District,2917,1910635

In [739]:
total_schools = len(school_data_complete["school_name"].unique())
total_students = len(school_data_complete["Student ID"])
total_budget = sum(school_data_complete["budget"].unique())
avg_math = school_data_complete["math_score"].mean()
avg_reading = school_data_complete["reading_score"].mean()
percent_pass_math = school_data_complete["math_score"].astype("float").loc[(school_data_complete["math_score"])>=70].count()/total_students*100
percent_pass_reading = school_data_complete["reading_score"].astype("float").loc[(school_data_complete["reading_score"])>=70].count()/total_students*100
percent_overall = len(school_data_complete[["reading_score","math_score"]].astype("float").loc[(school_data_complete["math_score"]>= 70) & (school_data_complete["reading_score"]>= 70)])/total_students*100
df = pd.DataFrame({"Total Schools": [total_schools],
                  "Total Students": total_students,
                  "Total Budget":total_budget,
                  "Average Math Score": avg_math,
                  "Average Reading Score": avg_reading,
                  "% Passing Math": percent_pass_math,
                  "% Passing Reading": percent_pass_reading,
                 "% Overall Passing": percent_overall})
df["Total Budget"] = df["Total Budget"].map("${:,.2f}".format)
df["% Passing Math"]= df["% Passing Math"].map("{:.2f}%".format)
df["% Passing Reading"]= df["% Passing Reading"].map("{:.2f}%".format)
df["% Overall Passing"]= df["% Overall Passing"].map("{:.2f}%".format)
df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.98%,85.81%,65.17%

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [740]:
groupby= school_data_complete.groupby("school_name")
school_type = groupby["type"].unique().rename("School Type")
students = groupby["Student ID"].count().rename("Total Students")
budget = groupby["budget"].unique().astype("float").rename("Total School Budget")
pp_budget = (budget/students).rename("Per Student Budget")
ag_math = groupby["math_score"].mean().rename("Average Math Score")
ag_reading = groupby["reading_score"].mean().rename("Average Reading Score")
pass_math = school_data_complete[["math_score","school_name"]].loc[(school_data_complete["math_score"])>=70].groupby("school_name").count().astype("float")
percent_math = (pass_math["math_score"]/students*100).rename("% Passing Math")
pass_reading = school_data_complete[["reading_score","school_name"]].loc[(school_data_complete["reading_score"])>=70].groupby("school_name").count().astype("float")
percent_reading = (pass_reading["reading_score"]/students*100).rename("% Passing Reading")
pass_both = school_data_complete.loc[(school_data_complete["math_score"]>= 70) & (school_data_complete["reading_score"]>= 70),["school_name","reading_score"]].groupby("school_name").count()
percent_pass = (pass_both["reading_score"]/students*100).rename("% Overall Passing")
df2 = school_type.to_frame().join(students).join(budget).join(pp_budget).join(ag_math).join(ag_reading).join(percent_math).join(percent_reading).join(percent_pass).reset_index()
df2["Per Student Budget"] = df2["Per Student Budget"].map("${:,.2f}".format)
df2["Total School Budget"] = df2["Total School Budget"].map("${:,.2f}".format)
df2["% Passing Math"]= df2["% Passing Math"].map("{:.2f}%".format)
df2["% Passing Reading"]= df2["% Passing Reading"].map("{:.2f}%".format)
df2["% Overall Passing"]= df2["% Overall Passing"].map("{:.2f}%".format)
df2

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,[District],4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.68%,81.93%,54.64%
1,Cabrera High School,[Charter],1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.13%,97.04%,91.33%
2,Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.99%,80.74%,53.20%
3,Ford High School,[District],2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.31%,79.30%,54.29%
4,Griffin High School,[Charter],1468,"$917,500.00",$625.00,83.351499,83.816757,93.39%,97.14%,90.60%
5,Hernandez High School,[District],4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.75%,80.86%,53.53%
6,Holden High School,[Charter],427,"$248,087.00",$581.00,83.803279,83.814988,92.51%,96.25%,89.23%
7,Huang High School,[District],2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.68%,81.32%,53.51%
8,Johnson High School,[District],4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.06%,81.22%,53.54%
9,Pena High School,[Charter],962,"$585,858.00",$609.00,83.839917,84.044699,94.59%,95.95%,90.54%
10,Rodriguez High School,[District],3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.37%,80.22%,52.99%
11,Shelton High School,[Charter],1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.87%,95.85%,89.89%
12,Thomas High School,[Charter],1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.27%,97.31%,90.95%
13,Wilson High School,[Charter],2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.87%,96.54%,90.58%
14,Wright High School,[Charter],1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [741]:
df3 = df2.sort_values("% Overall Passing",ascending = False)
df4 = df2.head(5)
df4

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,[District],4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.68%,81.93%,54.64%
1,Cabrera High School,[Charter],1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.13%,97.04%,91.33%
2,Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.99%,80.74%,53.20%
3,Ford High School,[District],2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.31%,79.30%,54.29%
4,Griffin High School,[Charter],1468,"$917,500.00",$625.00,83.351499,83.816757,93.39%,97.14%,90.60%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [742]:
df5 = df2.sort_values("% Overall Passing")
df6 = df5.head(5)
df6

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
10,Rodriguez High School,[District],3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.37%,80.22%,52.99%
2,Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.99%,80.74%,53.20%
7,Huang High School,[District],2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.68%,81.32%,53.51%
5,Hernandez High School,[District],4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.75%,80.86%,53.53%
8,Johnson High School,[District],4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [743]:
ninth = school_data_complete.loc[school_data_complete["grade"]=="9th"].groupby("school_name")
avg_9th = ninth["math_score"].mean().rename("9th")
tenth = school_data_complete.loc[school_data_complete["grade"]=="10th"].groupby("school_name")
avg_10th = tenth["math_score"].mean().rename("10th")
eleventh = school_data_complete.loc[school_data_complete["grade"]=="11th"].groupby("school_name")
avg_11th = eleventh["math_score"].mean().rename("11th")
twelfth = school_data_complete.loc[school_data_complete["grade"]=="12th"].groupby("school_name")
avg_12th = twelfth["math_score"].mean().rename("12th")
df7 = avg_9th.to_frame().join(avg_10th).join(avg_11th).join(avg_12th).reset_index()
df7["9th"]= df7["9th"].map("{:.2f}".format)
df7["10th"]= df7["10th"].map("{:.2f}".format)
df7["11th"]= df7["11th"].map("{:.2f}".format)
df7["12th"]= df7["12th"].map("{:.2f}".format)
df7

              school_name    9th   10th   11th   12th
0      Bailey High School  77.08  77.00  77.52  76.49
1     Cabrera High School  83.09  83.15  82.77  83.28
2    Figueroa High School  76.40  76.54  76.88  77.15
3        Ford High School  77.36  77.67  76.92  76.18
4     Griffin High School  82.04  84.23  83.84  83.36
5   Hernandez High School  77.44  77.34  77.14  77.19
6      Holden High School  83.79  83.43  85.00  82.86
7       Huang High School  77.03  75.91  76.45  77.23
8     Johnson High School  77.19  76.69  77.49  76.86
9        Pena High School  83.63  83.37  84.33  84.12
10  Rodriguez High School  76.86  76.61  76.40  77.69
11    Shelton High School  83.42  82.92  83.38  83.78
12     Thomas High School  83.59  83.09  83.50  83.50
13     Wilson High School  83.09  83.72  83.20  83.04
14     Wright High School  83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [744]:
ninth = school_data_complete.loc[school_data_complete["grade"]=="9th"].groupby("school_name")
avg_9th = ninth["reading_score"].mean().rename("9th")
tenth = school_data_complete.loc[school_data_complete["grade"]=="10th"].groupby("school_name")
avg_10th = tenth["reading_score"].mean().rename("10th")
eleventh = school_data_complete.loc[school_data_complete["grade"]=="11th"].groupby("school_name")
avg_11th = eleventh["reading_score"].mean().rename("11th")
twelfth = school_data_complete.loc[school_data_complete["grade"]=="12th"].groupby("school_name")
avg_12th = twelfth["reading_score"].mean().rename("12th")
df8 = avg_9th.to_frame().join(avg_10th).join(avg_11th).join(avg_12th).reset_index()
df8["9th"]= df8["9th"].map("{:.2f}".format)
df8["10th"]= df8["10th"].map("{:.2f}".format)
df8["11th"]= df8["11th"].map("{:.2f}".format)
df8["12th"]= df8["12th"].map("{:.2f}".format)
df8

              school_name    9th   10th   11th   12th
0      Bailey High School  81.30  80.91  80.95  80.91
1     Cabrera High School  83.68  84.25  83.79  84.29
2    Figueroa High School  81.20  81.41  80.64  81.38
3        Ford High School  80.63  81.26  80.40  80.66
4     Griffin High School  83.37  83.71  84.29  84.01
5   Hernandez High School  80.87  80.66  81.40  80.86
6      Holden High School  83.68  83.32  83.82  84.70
7       Huang High School  81.29  81.51  81.42  80.31
8     Johnson High School  81.26  80.77  80.62  81.23
9        Pena High School  83.81  83.61  84.34  84.59
10  Rodriguez High School  80.99  80.63  80.86  80.38
11    Shelton High School  84.12  83.44  84.37  82.78
12     Thomas High School  83.73  84.25  83.59  83.83
13     Wilson High School  83.94  84.02  83.76  84.32
14     Wright High School  83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [763]:
bins = [0,585,630,645,676]
labels = ["<$584","$585-629","$630-644","$645-675"]
school_data_complete["Spending Ranges (Per Student)"]= pd.cut((school_data_complete["budget"]/school_data_complete["size"]),bins,labels=labels,include_lowest = True,right=False)
grouped = school_data_complete.groupby("Spending Ranges (Per Student)")
avg_math = grouped["math_score"].mean().rename("Average Math Score")
avg_reading = grouped["reading_score"].mean().rename("Average Reading Score")
percent_math = school_data_complete.loc[school_data_complete["math_score"]>= 70].groupby("Spending Ranges (Per Student)").count()
math=(percent_math["math_score"]/grouped["math_score"].count()*100).rename("% Passing Math")
percent_reading = school_data_complete.loc[school_data_complete["reading_score"]>= 70].groupby("Spending Ranges (Per Student)").count()
reading=(percent_reading["reading_score"]/grouped["reading_score"].count()*100).rename("% Passing Reading")
percent_overall = school_data_complete.loc[(school_data_complete["math_score"]>= 70) & (school_data_complete["reading_score"]>= 70)].groupby("Spending Ranges (Per Student)").count()
overall = (percent_overall["reading_score"]/grouped["reading_score"].count()*100).rename("% Overall Passing")
#overall = ((math+reading)/2).rename("% Overall Passing")
df9= avg_math.to_frame().join(avg_reading).join(math).join(reading).join(overall).reset_index()
df9["% Passing Math"]= df9["% Passing Math"].map("{:.2f}%".format)
df9["% Passing Reading"]= df9["% Passing Reading"].map("{:.2f}%".format)
df9["% Overall Passing"]= df9["% Overall Passing"].map("{:.2f}%".format)
df9["Average Math Score"]= df9["Average Math Score"].map("{:.2f}".format)
df9["Average Reading Score"]= df9["Average Reading Score"].map("{:.2f}".format)
df9= df9.set_index("Spending Ranges (Per Student)")
df9

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.36,83.96,93.70%,96.69%,90.64%
$585-629,79.98,82.31,79.11%,88.51%,70.94%
$630-644,77.82,81.30,70.62%,82.60%,58.84%
$645-675,77.05,81.01,66.23%,81.11%,53.53%

In [761]:
bins = [0,1000,2000,5000]
labels = ["Small(<1000)","Medium(1000-2000)","Large(2000-5000)"]
school_data_complete["School Size"]= pd.cut(school_data_complete["size"],bins,labels=labels,include_lowest = True)
grouped = school_data_complete.groupby("School Size")
avg_math = grouped["math_score"].mean().rename("Average Math Score")
avg_reading = grouped["reading_score"].mean().rename("Average Reading Score")
percent_math = school_data_complete.loc[school_data_complete["math_score"]>= 70].groupby("School Size").count()
math=(percent_math["math_score"]/grouped["math_score"].count()*100).rename("% Passing Math")
percent_reading = school_data_complete.loc[school_data_complete["reading_score"]>= 70].groupby("School Size").count()
reading=(percent_reading["reading_score"]/grouped["reading_score"].count()*100).rename("% Passing Reading")
percent_overall = school_data_complete.loc[(school_data_complete["math_score"]>= 70) & (school_data_complete["reading_score"]>= 70)].groupby("School Size").count()
overall = (percent_overall["reading_score"]/grouped["reading_score"].count()*100).rename("% Overall Passing")
#overall = ((math+reading)/2).rename("% Overall Passing")
df9= avg_math.to_frame().join(avg_reading).join(math).join(reading).join(overall).reset_index()
df9["% Passing Math"]= df9["% Passing Math"].map("{:.2f}%".format)
df9["% Passing Reading"]= df9["% Passing Reading"].map("{:.2f}%".format)
df9["% Overall Passing"]= df9["% Overall Passing"].map("{:.2f}%".format)
df9["Average Math Score"]= df9["Average Math Score"].map("{:.2f}".format)
df9["Average Reading Score"]= df9["Average Reading Score"].map("{:.2f}".format)
df9= df9.set_index("School Size")
df9

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small(<1000),83.83,83.97,93.95%,96.04%,90.14%
Medium(1000-2000),83.37,83.87,93.62%,96.77%,90.62%
Large(2000-5000),77.48,81.20,68.65%,82.13%,56.57%

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type

In [760]:
grouped = school_data_complete.groupby("type")
avg_math = grouped["math_score"].mean().rename("Average Math Score")
avg_reading = grouped["reading_score"].mean().rename("Average Reading Score")
percent_math = school_data_complete.loc[school_data_complete["math_score"]>= 70].groupby("type").count()
math=(percent_math["math_score"]/grouped["math_score"].count()*100).rename("% Passing Math")
percent_reading = school_data_complete.loc[school_data_complete["reading_score"]>= 70].groupby("type").count()
reading=(percent_reading["reading_score"]/grouped["reading_score"].count()*100).rename("% Passing Reading")
percent_overall = school_data_complete.loc[(school_data_complete["math_score"]>= 70) & (school_data_complete["reading_score"]>= 70)].groupby("type").count()
overall = (percent_overall["reading_score"]/grouped["reading_score"].count()*100).rename("% Overall Passing")
overall = ((math+reading)/2).rename("% Overall Passing")
df9= avg_math.to_frame().join(avg_reading).join(math).join(reading).join(overall).reset_index()
df9["% Passing Math"]= df9["% Passing Math"].map("{:.2f}%".format)
df9["% Passing Reading"]= df9["% Passing Reading"].map("{:.2f}%".format)
df9["% Overall Passing"]= df9["% Overall Passing"].map("{:.2f}%".format)
df9["Average Math Score"]= df9["Average Math Score"].map("{:.2f}".format)
df9["Average Reading Score"]= df9["Average Reading Score"].map("{:.2f}".format)
df9 = df9.rename(columns ={"type":"School Type"})
df9= df9.set_index("School Type")
df9

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.41,83.90,93.70%,96.65%,95.17%
District,76.99,80.96,66.52%,80.91%,73.71%